
.lang-css3:before { content: '\e800'; } /* '' */
.lang-dart:before { content: '\e801'; } /* '' */
.lang-dotnet:before { content: '\e802'; } /* '' */
.lang-go:before { content: '\e803'; } /* '' */
.lang-groovy:before { content: '\e804'; } /* '' */
.lang-haskell:before { content: '\e805'; } /* '' */
.lang-html5:before { content: '\e806'; } /* '' */
.lang-java:before { content: '\e807'; } /* '' */
.lang-javascript:before { content: '\e808'; } /* '' */
.lang-java-wave:before { content: '\e809'; } /* '' */
.lang-jquery:before { content: '\e80a'; } /* '' */
.lang-json:before { content: '\e80b'; } /* '' */
.lang-kotlin:before { content: '\e80c'; } /* '' */
.lang-less:before { content: '\e80d'; } /* '' */
.lang-lisp:before { content: '\e80e'; } /* '' */
.lang-lua:before { content: '\e80f'; } /* '' */
.lang-lua-min:before { content: '\e810'; } /* '' */
.lang-mongodb:before { content: '\e811'; } /* '' */
.lang-mysql:before { content: '\e812'; } /* '' */
.lang-nodejs:before { content: '\e813'; } /* '' */
.lang-ocaml:before { content: '\e814'; } /* '' */
.lang-perl:before { content: '\e815'; } /* '' */
.lang-php:before { content: '\e816'; } /* '' */
.lang-php-elephpant:before { content: '\e817'; } /* '' */
.lang-postgresql:before { content: '\e818'; } /* '' */
.lang-python:before { content: '\e819'; } /* '' */
.lang-r:before { content: '\e81a'; } /* '' */
.lang-racket:before { content: '\e81b'; } /* '' */
.lang-rails:before { content: '\e81c'; } /* '' */
.lang-reactjs:before { content: '\e81d'; } /* '' */
.lang-ruby:before { content: '\e81e'; } /* '' */
.lang-rust:before { content: '\e81f'; } /* '' */
.lang-sass:before { content: '\e820'; } /* '' */
.lang-scala:before { content: '\e821'; } /* '' */
.lang-smalltalk:before { content: '\e822'; } /* '' */
.lang-swift:before { content: '\e823'; } /* '' */
.lang-tcl:before { content: '\e824'; } /* '' */
.lang-vuejs:before { content: '\e825'; } /* '' */
.lang-angular:before { content: '\e826'; } /* '' */
.lang-bash:before { content: '\e827'; } /* '' */
.lang-bootstrap:before { content: '\e828'; } /* '' */
.lang-c:before { content: '\e829'; } /* '' */
.lang-clojure:before { content: '\e82a'; } /* '' */
.lang-coffeescript:before { content: '\e82b'; } /* '' */
.lang-cpp:before { content: '\e82c'; } /* '' */
.lang-ada-ladybird:before { content: '\e82d'; } /* '' */